<h3>Welcome to League Manager</h3>
<td><%= button_to "Log In", user_path(id: "sign_in"), :class => "button small", :method => :get %></td>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<div><%= button_to "Create Club", new_clubs_path, :class => "button medium", :method => :get %></div>
